@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <a href="@Url.Action("Menu", "Order")">View Cocktail Menu</a> |
        <a href="@Url.Action("OrderQueue", "Order")">View Order Queue</a>
    </p>
</div>
